.signup__container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .top__right{
        float: right;
        font-size: small;
        #links__login{
            text-decoration: none;
            font-style: 300;
            margin-left: 0.5rem;
            cursor: pointer;
            color: purple;
            &:hover{
                color: black;
            }
        }
    }
    .main__body{
        height: 100%;
        width: 100%;
        .body__container{
            height: 80%;
            padding-top: 1rem;
            width: 70%;
            margin: 2rem auto;
            box-shadow: 0rem 0rem 2rem 0.1rem;
            border-radius: 0.5rem;
            .button__parent{
                display: flex;
                align-items: center;
                justify-content: center;
                .signup__button{
                    width: 60%;
                    background: purple;
                    cursor: pointer;
                    color: white;
                    border: none;
                    padding: 1rem 2rem;
                    margin-top: 2rem;
                    margin-bottom: 3rem;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        box-shadow: 0.5rem 0.5rem 1rem 0.5rem gray;
                    }
                    
                }

            }
            
            .h1{
                display: flex;
                align-items: center;
                justify-content: center;

            }
            .input__group{
                width: 80%;
                
                h5{
                    font-size: small;
                    font-weight: normal;
                    color: gray;
                    margin-left: 10%;
                    margin-top: 1rem;                    
                }
                input{
                    margin: 0.7rem auto;
                    width: 100%;
                    border: 0.3px solid black;
                    margin-left: 10%;
                    padding-left: 0.5rem;
                    padding: 0.5rem 0.5rem;
                    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem;
                    &:focus{
                        outline: none;
                    }
                }
                
            }
        }
    }
}