@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
  }

  :root{
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
  }


  /* Media Queries(Small Devices) */

  @media screen and (max-width: 600px){

    .container {
        width: var(--container-width-sm);
    }
    
      
  }
  /* Media Queries (Medium Size) */
  @media screen and (max-width: 1024px){

    .container {
        width: var(--container-width-md);
    }
    
      
  }